BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "led_o[0]" SITE "69" ;
LOCATE COMP "led_o[1]" SITE "71" ;
LOCATE COMP "led_o[2]" SITE "75" ;
LOCATE COMP "led_o[3]" SITE "77" ;
LOCATE COMP "led_o[4]" SITE "81" ;
LOCATE COMP "led_o[5]" SITE "83" ;
LOCATE COMP "led_o[6]" SITE "85" ;
LOCATE COMP "led_o[7]" SITE "87" ;
LOCATE COMP "button_i" SITE "88" ;
LOCATE COMP "clk_i" SITE "38" ;
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "button_i" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_o[7]" IO_TYPE=LVCMOS33 ;
FREQUENCY PORT "clk_i" 50.000000 MHz ;

